The free tier for GBQ covers:
1. Loading data to a table from a data frame
2. Select queries

What is not covered and requires billing:
- DML's e.g. insert/update/delete

In [1]:
import pandas as pd
from google.cloud import bigquery

In [3]:
client = bigquery.Client()

In [8]:
#### loading data

# Define your BigQuery dataset and table names
dataset_id = 'ds1_test'
table_name = 'users2'

# Path to your CSV file
csv_file_path = '~/test_dummy_data/gbq/test_data.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

In [5]:
df.head()

   user_id user_name
0        1       Bob
1        2      Bill
2        3      Kate
3        4      Matt
4        5       Don

In [10]:
#loads CSV to table
table_ref = client.dataset(dataset_id).table(table_name)
client.load_table_from_dataframe(df, table_ref).result()
#job.result()  # Wait for the job to complete

LoadJob<project=test-matt-219200, location=US, id=9f0b7b62-063d-40f7-b152-b5e95c8b05cf>

In [ ]:
job_config = bigquery.LoadJobConfig()
job_config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

In [4]:
help(client.load_table_from_dataframe)

Help on method load_table_from_dataframe in module google.cloud.bigquery.client:

load_table_from_dataframe(dataframe: 'pandas.DataFrame', destination: Union[google.cloud.bigquery.table.Table, google.cloud.bigquery.table.TableReference, str], num_retries: int = 6, job_id: Optional[str] = None, job_id_prefix: Optional[str] = None, location: Optional[str] = None, project: Optional[str] = None, job_config: Optional[google.cloud.bigquery.job.load.LoadJobConfig] = None, parquet_compression: str = 'snappy', timeout: Union[NoneType, float, Tuple[float, float]] = None) -> google.cloud.bigquery.job.load.LoadJob method of google.cloud.bigquery.client.Client instance
    Upload the contents of a table from a pandas DataFrame.

    Similar to :meth:`load_table_from_uri`, this method creates, starts and
    returns a :class:`~google.cloud.bigquery.job.LoadJob`.

    .. note::

        REPEATED fields are NOT supported when using the CSV source format.
        They are supported when using the PARQUET source format, but
        due to the way they are encoded in the ``parquet`` file,
        a mismatch with the existing table schema can occur, so
        REPEATED fields are not properly supported when using ``pyarrow<4.0.0``
        using the parquet format.

        https://github.com/googleapis/python-bigquery/issues/19

    Args:
        dataframe:
            A :class:`~pandas.DataFrame` containing the data to load.
        destination:
            The destination table to use for loading the data. If it is an
            existing table, the schema of the :class:`~pandas.DataFrame`
            must match the schema of the destination table. If the table
            does not yet exist, the schema is inferred from the
            :class:`~pandas.DataFrame`.

            If a string is passed in, this method attempts to create a
            table reference from a string using
            :func:`google.cloud.bigquery.table.TableReference.from_string`.

    Keyword Arguments:
        num_retries: Number of upload retries.
        job_id: Name of the job.
        job_id_prefix:
            The user-provided prefix for a randomly generated
            job ID. This parameter will be ignored if a ``job_id`` is
            also given.
        location:
            Location where to run the job. Must match the location of the
            destination table.
        project:
            Project ID of the project of where to run the job. Defaults
            to the client's project.
        job_config:
            Extra configuration options for the job.

            To override the default pandas data type conversions, supply
            a value for
            :attr:`~google.cloud.bigquery.job.LoadJobConfig.schema` with
            column names matching those of the dataframe. The BigQuery
            schema is used to determine the correct data type conversion.
            Indexes are not loaded.

            By default, this method uses the parquet source format. To
            override this, supply a value for
            :attr:`~google.cloud.bigquery.job.LoadJobConfig.source_format`
            with the format name. Currently only
            :attr:`~google.cloud.bigquery.job.SourceFormat.CSV` and
            :attr:`~google.cloud.bigquery.job.SourceFormat.PARQUET` are
            supported.
        parquet_compression:
            [Beta] The compression method to use if intermittently
            serializing ``dataframe`` to a parquet file.

            The argument is directly passed as the ``compression``
            argument to the underlying ``pyarrow.parquet.write_table()``
            method (the default value "snappy" gets converted to uppercase).
            https://arrow.apache.org/docs/python/generated/pyarrow.parquet.write_table.html#pyarrow-parquet-write-table

            If the job config schema is missing, the argument is directly
            passed as the ``compression`` argument to the underlying
            ``DataFrame.to_parquet()`` method.
            https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_parquet.html#pandas.DataFrame.to_parquet
        timeout:
            The number of seconds to wait for the underlying HTTP transport
            before using ``retry``. Depending on the retry strategy, a request may
            be repeated several times using the same timeout each time.

            Can also be passed as a tuple (connect_timeout, read_timeout).
            See :meth:`requests.Session.request` documentation for details.

    Returns:
        google.cloud.bigquery.job.LoadJob: A new load job.

    Raises:
        ValueError:
            If a usable parquet engine cannot be found. This method
            requires :mod:`pyarrow` to be installed.
        TypeError:
            If ``job_config`` is not an instance of
            :class:`~google.cloud.bigquery.job.LoadJobConfig` class.

In [ ]:
## doesn't work on free tier; requires billing

sql = "INSERT INTO `ds1_test.users2` SELECT * FROM `ds1_test.users2`"
query_job = client.query(sql).result()
#query_job.result()

In [18]:
query = f'SELECT * FROM `ds1_test.users2` LIMIT 10'

df = pd.read_gbq(query)
df.head(5)

   user_id user_name
0        1       Bob
1        2      Bill
2        3      Kate
3        4      Matt
4        5       Don