The free tier for GBQ covers:
1. Loading data to a table from a data frame
2. Select queries

What is not covered and requires billing:
- DML's e.g. insert/update/delete

In [1]:
import pandas as pd
from google.cloud import bigquery

In [2]:
client = bigquery.Client()

In [8]:
#### loading data

# Define your BigQuery dataset and table names
dataset_id = 'ds1_test'
table_name = 'users2'

# Path to your CSV file
csv_file_path = '~/test_dummy_data/gbq/test_data.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

In [5]:
df.head()

   user_id user_name
0        1       Bob
1        2      Bill
2        3      Kate
3        4      Matt
4        5       Don

In [10]:
#loads CSV to table
table_ref = client.dataset(dataset_id).table(table_name)
client.load_table_from_dataframe(df, table_ref).result()
#job.result()  # Wait for the job to complete

LoadJob<project=test-matt-219200, location=US, id=9f0b7b62-063d-40f7-b152-b5e95c8b05cf>

In [ ]:
## doesn't work on free tier; requires billing

sql = "INSERT INTO `ds1_test.users2` SELECT * FROM `ds1_test.users2`"
query_job = client.query(sql).result()
#query_job.result()

In [18]:
query = f'SELECT * FROM `ds1_test.users2` LIMIT 10'

df = pd.read_gbq(query)
df.head(5)

   user_id user_name
0        1       Bob
1        2      Bill
2        3      Kate
3        4      Matt
4        5       Don