In [ ]:
#%pip install polars

In [2]:
import polars as pl

In [3]:
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 35],
        'city': ['New York', 'San Francisco', 'Los Angeles']}

df = pl.DataFrame(data)

In [4]:
print(df)

shape: (3, 3)
┌─────────┬─────┬───────────────┐
│ name    ┆ age ┆ city          │
│ ---     ┆ --- ┆ ---           │
│ str     ┆ i64 ┆ str           │
╞═════════╪═════╪═══════════════╡
│ Alice   ┆ 25  ┆ New York      │
│ Bob     ┆ 30  ┆ San Francisco │
│ Charlie ┆ 35  ┆ Los Angeles   │
└─────────┴─────┴───────────────┘

In [16]:
#filtering
filtered_df = df.filter(pl.col('age') > 30)
print(filtered_df)

shape: (1, 3)
┌─────────┬─────┬─────────────┐
│ name    ┆ age ┆ city        │
│ ---     ┆ --- ┆ ---         │
│ str     ┆ i64 ┆ str         │
╞═════════╪═════╪═════════════╡
│ Charlie ┆ 35  ┆ Los Angeles │
└─────────┴─────┴─────────────┘

In [15]:
#grouping
grouped_df = df.group_by('city').agg(pl.col('age').mean())
grouped_df.write_csv(file='test.csv', separator='|')
grouped_df.write_parquet('test.parquet')
print(grouped_df)

shape: (3, 2)
┌───────────────┬──────┐
│ city          ┆ age  │
│ ---           ┆ ---  │
│ str           ┆ f64  │
╞═══════════════╪══════╡
│ New York      ┆ 25.0 │
│ Los Angeles   ┆ 35.0 │
│ San Francisco ┆ 30.0 │
└───────────────┴──────┘

In [10]:
#sorting
sorted_df = df.sort('age', descending=True)
print(sorted_df)

shape: (3, 3)
┌─────────┬─────┬───────────────┐
│ name    ┆ age ┆ city          │
│ ---     ┆ --- ┆ ---           │
│ str     ┆ i64 ┆ str           │
╞═════════╪═════╪═══════════════╡
│ Charlie ┆ 35  ┆ Los Angeles   │
│ Bob     ┆ 30  ┆ San Francisco │
│ Alice   ┆ 25  ┆ New York      │
└─────────┴─────┴───────────────┘

In [20]:
#joins
df1 = pl.DataFrame({'id': [1, 2, 3], 'value': ['A', 'B', 'C']})
df2 = pl.DataFrame({'id': [2, 3, 4], 'value2': ['X', 'Y', 'Z']})

merged_df = df1.join(df2, on='id',how='left')
print(merged_df)

shape: (3, 3)
┌─────┬───────┬────────┐
│ id  ┆ value ┆ value2 │
│ --- ┆ ---   ┆ ---    │
│ i64 ┆ str   ┆ str    │
╞═════╪═══════╪════════╡
│ 1   ┆ A     ┆ null   │
│ 2   ┆ B     ┆ X      │
│ 3   ┆ C     ┆ Y      │
└─────┴───────┴────────┘