In [ ]:
# %pip install sqlalchemy
#%pip install jupysql
#%pip install psycopg2-binary --quiet

In [6]:
%load_ext sql

In [10]:
%sql postgresql://username:password@localhost:15432/test

Connecting to 'postgresql://username:***@localhost:15432/test'

In [13]:
%sql select * from public.city_cube;

Running query in 'postgresql://username:***@localhost:15432/test'

10 rows affected.

+-------+------------------+------+---------------+------------+--------+-----------------+
| count | total_population |  id  |   city_name   | state_abrv | __user | __cubeJoinField |
+-------+------------------+------+---------------+------------+--------+-----------------+
|   1   |     883305.0     | 1.0  | San Francisco |     CA     |  None  |       None      |
|   1   |    3990456.0     | 2.0  |  Los Angeles  |     CA     |  None  |       None      |
|   1   |    8419600.0     | 3.0  |    New York   |     NY     |  None  |       None      |
|   1   |    2716000.0     | 4.0  |    Chicago    |     IL     |  None  |       None      |
|   1   |    2328000.0     | 5.0  |    Houston    |     TX     |  None  |       None      |
|   1   |    1680992.0     | 6.0  |    Phoenix    |     AZ     |  None  |       None      |
|   1   |    1584200.0     | 7.0  |  Philadelphia |     PA     |  None  |       None      |
|   1   |    1547253.0     | 8.0  |  San Antonio  |     TX     |  None  |       None      |
|   1   |    1423851.0     | 9.0  |   San Diego   |     CA     |  None  |       None      |
|   1   |    1341075.0     | 10.0 |     Dallas    |     TX     |  None  |       None      |
+-------+------------------+------+---------------+------------+--------+-----------------+
Truncated to displaylimit of 10.