# SQL Parser Demonstration

This notebook demonstrates the usage of our custom SQL parser that extracts table names, aliases, and columns from SQL queries.

In [1]:
# Import required modules
import sys
import os
import json

# Add the src directory to path so we can import our parser
sys.path.append(os.path.join(os.getcwd(), 'src'))

from sql_parser import parse_sql

## Example 1: Basic JOIN Query (from requirements)

Let's start with the example SQL query from the project requirements:

In [2]:
# Example from project requirements
sql1 = """
select a.order_id, a.order_dt, b.sku_nbr, b.cost_amt, b.quantity
from orders as a
    join order_details as b
        on a.order_id = b.order_id
"""

result1 = parse_sql(sql1)
print("SQL Query:")
print(sql1.strip())
print("\nParsed Result:")
print(result1)

SQL Query:
select a.order_id, a.order_dt, b.sku_nbr, b.cost_amt, b.quantity
from orders as a
    join order_details as b
        on a.order_id = b.order_id

Parsed Result:
{
  "tables": [
    {
      "table_name": "orders",
      "alias": "a",
      "columns": [
        "order_dt",
        "order_id"
      ]
    },
    {
      "table_name": "order_details",
      "alias": "b",
      "columns": [
        "cost_amt",
        "quantity",
        "sku_nbr"
      ]
    }
  ]
}

## Example 2: Multiple JOINs

Let's test with a more complex query involving multiple tables:

In [ ]:
sql2 = """
select 
    c.customer_name, 
    o.order_date, 
    p.product_name, 
    od.quantity
from customers as c
    join orders as o on c.customer_id = o.customer_id
    join order_details as od on o.order_id = od.order_id
    join products as p on od.product_id = p.product_id
"""

result2 = parse_sql(sql2)
print("SQL Query:")
print(sql2.strip())
print("\nParsed Result:")
print(result2)

## Example 3: Simple SELECT without aliases

Testing with a simple query that doesn't use table aliases:

In [ ]:
sql3 = """
select employees.name, employees.salary, departments.dept_name
from employees
    join departments on employees.dept_id = departments.dept_id
"""

result3 = parse_sql(sql3)
print("SQL Query:")
print(sql3.strip())
print("\nParsed Result:")
print(result3)

## Example 4: LEFT JOIN with different alias styles

Testing with LEFT JOIN and different ways of specifying aliases:

In [ ]:
sql4 = """
select 
    u.username,
    u.email,
    prof.bio,
    prof.avatar_url
from users u
    left join user_profiles as prof on u.user_id = prof.user_id
"""

result4 = parse_sql(sql4)
print("SQL Query:")
print(sql4.strip())
print("\nParsed Result:")
print(result4)

## Pretty Print Function

Let's create a helper function to make the JSON output even more readable:

In [3]:
def pretty_print_sql_parse(sql_query: str):
    """
    Parse SQL and display results in a formatted way
    """
    print("=" * 60)
    print("SQL Query:")
    print("-" * 20)
    print(sql_query.strip())
    
    result_json = parse_sql(sql_query)
    result_dict = json.loads(result_json)
    
    print("\nParsed Tables and Columns:")
    print("-" * 30)
    
    for i, table in enumerate(result_dict['tables'], 1):
        alias_text = f" (alias: {table['alias']})" if table['alias'] else ""
        print(f"{i}. Table: {table['table_name']}{alias_text}")
        print(f"   Columns: {', '.join(table['columns'])}")
        print()
    
    print("Raw JSON Output:")
    print("-" * 18)
    print(result_json)
    print("=" * 60)

# Test with our first example
pretty_print_sql_parse(sql1)

============================================================
SQL Query:
--------------------
select a.order_id, a.order_dt, b.sku_nbr, b.cost_amt, b.quantity
from orders as a
    join order_details as b
        on a.order_id = b.order_id

Parsed Tables and Columns:
------------------------------
1. Table: orders (alias: a)
   Columns: order_dt, order_id

2. Table: order_details (alias: b)
   Columns: cost_amt, quantity, sku_nbr

Raw JSON Output:
------------------
{
  "tables": [
    {
      "table_name": "orders",
      "alias": "a",
      "columns": [
        "order_dt",
        "order_id"
      ]
    },
    {
      "table_name": "order_details",
      "alias": "b",
      "columns": [
        "cost_amt",
        "quantity",
        "sku_nbr"
      ]
    }
  ]
}
============================================================