In [2]:
import polars as pl

In [3]:
txn_ids = [1,2,3]
txn_dts = ['2023-01-01','2023-02-05','2023-02-08']
ord_types = ['online','in-store','online']

df = pl.DataFrame(
    {'txn_id': txn_ids, 'txn_dt': txn_dts, 'ord_type': ord_types}, 
    schema={'txn_id': pl.Int64, 'txn_dt': pl.Date, 'ord_type': pl.Utf8, }
)

txn_ids = [1,2,3]
txn_dts = ['2023-01-04','2023-02-04','2023-02-09']
ord_prices = [21.39, 26.46, 34.33]

df2 = pl.DataFrame(
    {'txn_id': txn_ids, 'txn_dt': txn_dts, 'ord_price': ord_prices}, 
    schema={'txn_id': pl.Int64, 'txn_dt': pl.Date, 'ord_price': pl.Float32, }
)
print(df)
print(df2)

shape: (3, 3)
┌────────┬────────────┬──────────┐
│ txn_id ┆ txn_dt     ┆ ord_type │
│ ---    ┆ ---        ┆ ---      │
│ i64    ┆ date       ┆ str      │
╞════════╪════════════╪══════════╡
│ 1      ┆ 2023-01-01 ┆ online   │
│ 2      ┆ 2023-02-05 ┆ in-store │
│ 3      ┆ 2023-02-08 ┆ online   │
└────────┴────────────┴──────────┘
shape: (3, 3)
┌────────┬────────────┬───────────┐
│ txn_id ┆ txn_dt     ┆ ord_price │
│ ---    ┆ ---        ┆ ---       │
│ i64    ┆ date       ┆ f32       │
╞════════╪════════════╪═══════════╡
│ 1      ┆ 2023-01-04 ┆ 21.389999 │
│ 2      ┆ 2023-02-04 ┆ 26.459999 │
│ 3      ┆ 2023-02-09 ┆ 34.330002 │
└────────┴────────────┴───────────┘

In [4]:
joined_df = (
    df.join(df2, on="txn_id", how="inner", suffix="_right")
    .filter((pl.col("txn_dt_right") - pl.col("txn_dt")).abs() <= pl.duration(days=2))
    .select("txn_id", "txn_dt", "ord_type", "ord_price")
)
print(joined_df)

shape: (2, 4)
┌────────┬────────────┬──────────┬───────────┐
│ txn_id ┆ txn_dt     ┆ ord_type ┆ ord_price │
│ ---    ┆ ---        ┆ ---      ┆ ---       │
│ i64    ┆ date       ┆ str      ┆ f32       │
╞════════╪════════════╪══════════╪═══════════╡
│ 2      ┆ 2023-02-05 ┆ in-store ┆ 26.459999 │
│ 3      ┆ 2023-02-08 ┆ online   ┆ 34.330002 │
└────────┴────────────┴──────────┴───────────┘

In [1]:
def add(x,y): return x+y
def subtract(x,y): return x-y

ops = {
    "add": add,
    "subtract": subtract
}

result = ops["add"](3,4)

In [2]:
print(result)

7