In [44]:
from mimesis import Person, Address
from mimesis.locales import Locale
import polars as pl

In [72]:
from mimesis import Person, Address
from mimesis.locales import Locale
from mimesis import Datetime

peep = Person(Locale.EN)
adrs = Address(Locale.EN)


rows = 50_000

data = []
for i in range(rows):
    data.append([peep.first_name(), peep.last_name(), peep.email(), adrs.country(), adrs.zip_code(), adrs.city()])

In [73]:
sch = {
    "first_name":pl.String,
    "last_name":pl.String,
    "email_adrs":pl.String,
    "country":pl.String,
    "zip_cd":pl.String,
    "city":pl.String
}

In [76]:
df = pl.DataFrame(data, schema=sch)
df.head(5)

shape: (5, 6)
┌────────────┬───────────┬───────────────────────────┬──────────┬────────┬───────────────┐
│ first_name ┆ last_name ┆ email_adrs                ┆ country  ┆ zip_cd ┆ city          │
│ ---        ┆ ---       ┆ ---                       ┆ ---      ┆ ---    ┆ ---           │
│ str        ┆ str       ┆ str                       ┆ str      ┆ str    ┆ str           │
╞════════════╪═══════════╪═══════════════════════════╪══════════╪════════╪═══════════════╡
│ Stacey     ┆ Best      ┆ notice1896@yahoo.com      ┆ Barbados ┆ 34050  ┆ Richardson    │
│ Ray        ┆ Haynes    ┆ satellite1881@outlook.com ┆ Djibouti ┆ 56830  ┆ Valparaiso    │
│ Bernetta   ┆ Rowland   ┆ partnership1904@live.com  ┆ Russia   ┆ 98723  ┆ Michigan City │
│ Gus        ┆ Weeks     ┆ costumes2043@yandex.com   ┆ Tanzania ┆ 84184  ┆ North Canton  │
│ Yuonne     ┆ Waller    ┆ garmin1892@example.org    ┆ Tonga    ┆ 39254  ┆ Cutler Bay    │
└────────────┴───────────┴───────────────────────────┴──────────┴────────┴───────────────┘

In [75]:
df.write_parquet('~/test_dummy_data/polars/test.parquet')