In [2]:
import polars as pl

In [39]:
ids = [1,2,3]
id_vals = ['a','b','c']
dts = ['2023-01-01','2023-02-05','2023-02-08']

df = pl.DataFrame(
    {'id': ids, 'vals': id_vals, 'dts': dts}, 
    schema={'id': pl.Int64, 'vals': pl.Utf8, 'dts': pl.Date}
)

ids = [2,3,4]
id_vals = ['b','c','d']
dts = ['2023-02-01','2023-03-05','2023-04-08']

df2 = pl.DataFrame(
   {'id': ids, 'vals': id_vals, 'dts': dts}, 
    schema={'id': pl.Int64, 'vals': pl.Utf8, 'dts': pl.Date}
)

#### Testing Unique Counts

In [ ]:
ids = [1,1,1,2,2,3,3,3,3]
id_vals = ['a','b','b','x','y','z','a','a','b']
dfx = pl.DataFrame(
   {'id': ids, 'vals': id_vals}, 
    schema={'id': pl.Int64, 'vals': pl.Utf8}
)

dfx.group_by("id").agg(pl.col("vals").unique().count())

shape: (3, 2)
┌─────┬──────┐
│ id  ┆ vals │
│ --- ┆ ---  │
│ i64 ┆ u32  │
╞═════╪══════╡
│ 1   ┆ 2    │
│ 2   ┆ 2    │
│ 3   ┆ 3    │
└─────┴──────┘

In [71]:
df3 = pl.DataFrame([
    {'order_id': 1, 'order_line_id':1, 'qty': 5, 'total_price': 20.35},
    {'order_id': 1, 'order_line_id':2, 'qty': 4, 'total_price': 8.46},
    {'order_id': 2, 'order_line_id':1, 'qty': 12, 'total_price': 51.44},
    {'order_id': 2, 'order_line_id':2, 'qty': 7, 'total_price': 36.82}
])
res = df3.group_by("order_id").agg([
    pl.col("order_line_id").unique().count().alias("line_cnt"),
    pl.col("qty").sum().alias("total_qty"),
    pl.col("total_price").sum().alias("total_price")
])

In [72]:
res.write_clipboard()

In [34]:
df.select(pl.col("dts").min().alias("blah"), pl.col('id').count().unique().alias('a'))

shape: (1, 2)
┌────────────┬─────┐
│ blah       ┆ a   │
│ ---        ┆ --- │
│ date       ┆ u32 │
╞════════════╪═════╡
│ 2023-01-01 ┆ 3   │
└────────────┴─────┘

In [43]:
# df2 = pl.DataFrame({'id':[i for i in range(0,9)]})

# print(df2.select(pl.col('id').max()))

df.join(df2, on="id", how="anti")

shape: (1, 3)
┌─────┬──────┬────────────┐
│ id  ┆ vals ┆ dts        │
│ --- ┆ ---  ┆ ---        │
│ i64 ┆ str  ┆ date       │
╞═════╪══════╪════════════╡
│ 1   ┆ a    ┆ 2023-01-01 │
└─────┴──────┴────────────┘